*{
    margin: 0;
    padding: 0;
}

.ful-website{
    text-align: center;
    color:black;
    width: 1024px;
    margin: 0 auto;
    box-shadow: 0px 3px 52px rgba(0, 0, 0, 9);

}
.menu{
    background: #6ab04c;
}
.bener{

}
.contenar{
    background: #7ed6df;

}
.footer{
    background: #686de0;
}
.footer-botom{
    background: #535c68;
}
img{
    max-width: 100%;
    margin-bottom: -5px;
}
.op{
    padding: 30px;
}
.opx{
    padding: 60px;
}